body,
div,
ul,
li,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  padding:0;
  margin:0;
  font-family: "Droid Serif", Geneva, sans-serif;
}

body {
  max-width: 900px;
  margin: auto;
  background-color: #054f25;

}

.major {
  padding-left: 20px;
}

.clear-fix {
  overflow: auto;
}

.education-entry,
.work-entry,
.project-entry {
  padding: 0 5%;
}

h1 {
  font-size: 40px;
  color: #dc94ff;
  line-height: 48px;
  display: inline;
}

h2 {
  font-weight: 700;
  font-size: 24px;
  color: #dc94ff;
  line-height: 29px;
  padding: 10px;
}

h2.orange {
  color: #fff;
}

.project-link {
  color: #000193;
}

h3 {
  font-style: italic;
  font-size: 20px;
  color: #000;
  line-height: 22px;
}

h4 {
  font-weight: 700;
  font-size: 14px;
  color: #4a4a4a;
  line-height: 17px;
}

h2,
h3,
h4,
h5 {
  padding: 10px 5%;

}


.date-text {
  font-style: italic;
  font-size: 14px;
  color: #999;
  line-height: 16px;
  float: left;
}

.location-text {
  font-style: italic;
  font-size: 14px;
  color: #999;
  line-height: 16px;
  float: right;

}

p {
  font-size: 14px;
  color: #333;
  line-height: 21px;
}

a {
  color: #1617b4;
  text-decoration: none;
  margin-top: 10px;
  display: block;
}

a:hover {
  text-decoration: underline;
}

.entry-title {
  text-decoration: none;
  margin-top: 10px;
  font-size: 100%;
}

.welcome-message {
  font-style: italic;
  font-size: 18px;
  color: #f3f3f3;
  line-height: 28px;
}

#skills-h3 {
  color: #dc94ff;
  display: none;
  padding-top: 20px;
}

#skills {
  display: none;
}

#name {
  margin-right: 20px;
}

#online {
  padding: 0 5%;
}

button {
  float: right;
  background-color: #dc94ff;
  color: #3b2844;
}

.orange {
  background-color: #dc94ff;
}

.orange-text {
  color: #dc94ff;
  font-weight: 700;
}

.white-text {
  font-weight: 400;
  color: #fff;
}

.gray {
  background-color: #f3f3f3;
  padding-bottom: 10px;
  clear:both;
}

.dark-gray {
  background-color: #3b2844;
}

#header {
  background-color: #054f25;
/*  background-color: #484848; */
}

.flex-box {
  display: -webkit-flex;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 10px;
}

.header-flex-box {
  display: -webkit-flex;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0;
  align-items: flex-end;
}

.flex-item {
  font-size: 75%;
  font-weight: 300;
}

.center-content {
  padding: 2.5% 5%;
}

ul {
  list-style-type: none;
}

.biopic {
  float: left;
  padding: 10px;
  width: 25%;
  height: auto;
  margin-right: 5px;
}

.udacity-logo {
  float: right;
  background-color: white;
  border-radius: 50%;
  height: 50px;
  width: 50px;
  padding: 0;
}

img {
  padding: 10px;
  width: 300px;   /* TODO make more responsive */
}

span {
  padding: 5px;
}

#lets-connect {
  text-align: center;
  padding-bottom: 20px;
  margin-bottom: 20px;
}

/* Media queries to handle various device widths */

@media only screen and (max-width: 1024px) {
  #lets-connect {
    margin-top: 5%;
  }
}

@media only screen and (max-width:775px) {
  .flex-box {
    flex-direction: column;
    align-items: flex-end;
  }
}

@media only screen and (max-width: 750px) {
  #lets-connect {
    margin-top: 10%;
  }
}

@media only screen and (max-width: 650px) {
  .udacity-logo {
    order: -1;
  }
  #name {
    order: -2;
  }
}

@media only screen and (max-width: 465px) {
  .header-flex-box {
    flex-direction: column;
    align-items: flex-start;
  }
  .udacity-logo {
    order: 1;
  }
}

@media only screen and (max-width: 390px)  {
  h1 {
    font-size: 20px;
    line-height: 24px;
  }
}

#map {
  display: block;
  height: 100%;
  margin: 0 5% 5%;
}

#mapDiv {
  height: 400px;
  width: 100%;
  padding-bottom: 7%;
}

@media only screen and (min-width: 750px) {
  #skills-h3,
  .biopic {
    display: block;
  }
}
